<launch>

  <!-- Include px4.launch -->
  <include file="$(find mavros)/launch/px4.launch" />

  <!-- Include msg_MID360.launch -->
  <include file="$(find livox_ros_driver2)/launch_ROS1/msg_MID360.launch" />

  <!-- Execute ros2 bag record command -->
  <node name="record" pkg="rosbag" type="record" args="record -o /home/ros/rosbags/bag" output="screen" />

</launch>